body {
            margin: 0;
            font-family: Arial, sans-serif;
            
        }
        
        

        .container {
            max-width: 800px;
            height: 100%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            background-color: #608f3a;
            color: orange;
            background-repeat: none;
            
        }

        .photo {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto; /* Center block-level elements */
        }
        
.container a{
  text-decoration: none;
  color: white;
  background: green;
  border: 2px solid green;
  border-radius: 4px;
  text-transform: uppercase;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text and inline elements */
}

.photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center block-level elements */
}

.container a {
    text-decoration: none;
    color: white;
    background: green;
    border: 2px solid green;
    border-radius: 4px;
    text-transform: uppercase;
}

body:selection{
  background-color: green;
  color: white;
}


.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}